<%- include('./partials/header') %>
    <div class="w-full h-screen flex flex-col items-start px-20 py-20 gap-10">
        <!-- Cart Items -->
        <div class="w-full grid grid-cols-5 gap-5">
            <% user.cart.forEach(function(cartItem){ %>
                <div class="rounded-md overflow-hidden">
                    <div class="w-full flex justify-center items-center h-80 bg-[<%= cartItem.bgcolor %>]">
                        <img class="h-[12rem]" src="data:image/jpeg;base64,<%= cartItem.image.toString('base64') %>"
                            alt="">
                    </div>
                    <div class="w-full flex justify-between px-5 py-4 bg-[#555]">
                        <h3 class="text-2xl text-white">
                            <%= cartItem.name %>
                        </h3>
                        <div class="flex items-center gap-2">
                            <i
                                class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line cursor-pointer"></i>
                            <div class="px-2 py-1 rounded-md bg-white text-black">01</div>
                            <i
                                class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line cursor-pointer"></i>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>

        <!-- Total Calculation and Payment -->
        <div class="w-full mt-5 bg-gray-100 p-5 rounded-lg flex justify-between items-center">
            <!-- Net Total -->
            <div>
                <h4 class="text-lg font-bold">Net Total</h4>
                <h2 class="text-lg font-bold text-green-600">₹ <%= totalbill %>
                </h2>
            </div>
            <!-- Payment Button -->
            <button class="bg-blue-600 text-white px-6 py-3 rounded-lg text-lg hover:bg-blue-700">
                Proceed to Payment
            </button>
        </div>
    </div>
    <%- include('./partials/footer') %>